* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: hsl(0, 0%, 100%);
    margin-top: 85px;
    padding: 32px;
    font-family: "Poppins", sans-serif;
    color: #4D4F62;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  a {
    text-decoration: none;
    color: inherit;
  }

.container {
    width: 375px;
    height: 1360px;
    background-color: inherit;
    padding-left: 32px;
    padding-right: 32px;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.title-1{
    position: relative;
    font-size: 24px;
    font-weight: 200;
    top: 40px;
  }

  @media screen and (width > 768px) {
    .title-1 {
      position: relative;
      font-size: 24px;
      font-weight: 200;
      top: 40px;
      display: flex;
      flex-direction: row;
      text-align: center;
    }
  }

.title-2{
    position: relative;
    font-size: 24px;
    font-weight: 600;
  }

  @media screen and (width > 768px) {
    .title-2 {
      position: relative;
      font-size: 24px;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      text-align: center;
    }
  }

  @media screen and (width > 768px) {
    .title-2 {
      display: flex;
      flex-direction: row;
      text-align: center;
    }
  }

.text {
    margin-bottom: 33px;
    font-size: 15px;
    line-height: 25px;
  }

  @media screen and (width > 768px) {
    .text {
      display: flex;
      flex-direction: row;
      text-align: center;
    }
  }

  .container-green, .container-red, .container-orange, .container-blue {
    background-color: #ffffff;
    width: 311px;
    height: 222px;
    padding: 32px;
    margin-bottom: 25px;
    box-shadow: 15px 14px 20px rgb(222, 222, 222);
    border-radius: 5px;

  }


  .container-green {
    border-top: 5px solid #44D3D2;
  }

  .container-red {
    border-top: 5px solid #EA5454;
  }

  .container-orange {
    border-top: 5px solid #FCAE4A;
  }
  
  .container-blue {
    border-top: 5px solid #549EF2;
  }

  .title-card {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400px;
  }

  .text-card {
    margin-bottom: 33px;
    font-size: 13px;
    line-height: 23px;
  }
  
  .icon {
    position: relative;
    left: 200px;
    bottom: 20px;
    width: 57px;
    height: 57px;
  }